body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 244, 39);
}

header {
    background-color: #328d35;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(243, 240, 240);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(240, 244, 39);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(236, 233, 233, 0.1);
}

.product {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #d81111;
    color: rgb(230, 227, 227);
}

